In [11]:
import pandas as pd

In [12]:
import seaborn as sns

In [17]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

In [18]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [20]:
year = 'Period'

In [38]:
lifeExpectancy[year] == 2017

0       False
1       False
2       False
3       False
4       False
        ...
2192    False
2193    False
2194    False
2195    False
2196    False
Name: Period, Length: 2197, dtype: bool