In [11]:
import pandas as pd

In [140]:
import seaborn as sns

In [17]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

In [75]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [111]:
year = 'Period'
sex = 'Dim1'

In [136]:
filterOnyear = lifeExpectancy[year] == 2019
filterOnBothSexes = lifeExpectancy[sex] == 'Both sexes'

In [142]:
FilteredTable = lifeExpectancy[(filterOnyear) & (filterOnBothSexes)]

In [152]:
highest = FilteredTable.sort_values('First Tooltip', ascending=False).head(5)

In [157]:
lowest = FilteredTable.sort_values('First Tooltip', ascending=True).head(5)