In [1]:
import pandas as pd
import seaborn as sns
games = pd.read_csv('vgsales.csv', sep=',')

In [2]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [23]:
import scipy.stats as st
confidence = 0.90
st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.5175860248001194, 0.5572952862013607)

In [24]:
import scipy.stats as st
confidence = 0.95
st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.513781998985215, 0.5610993120162651)

In [25]:
import scipy.stats as st
confidence = 0.99
st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.5063466018870761, 0.568534709114404)

In [26]:
import scipy.stats as st
confidence = 0.9999
st.t.interval(confidence, len(games)-1, loc=games['Global_Sales'].mean(), scale=st.sem(games['Global_Sales']))

(0.49046946533976576, 0.5844118456617143)

____________________

In [27]:
import scipy.stats as st
confidence = 0.90
st.t.interval(confidence, len(games)-1, loc=games['Other_Sales'].mean(), scale=st.sem(games['Other_Sales']))

(0.045655118786785444, 0.05047092049504159)

In [28]:
import scipy.stats as st
confidence = 0.95
st.t.interval(confidence, len(games)-1, loc=games['Other_Sales'].mean(), scale=st.sem(games['Other_Sales']))

(0.045193779709421136, 0.050932259572405894)

In [29]:
import scipy.stats as st
confidence = 0.99
st.t.interval(confidence, len(games)-1, loc=games['Other_Sales'].mean(), scale=st.sem(games['Other_Sales']))

(0.044292040498385074, 0.051833998783441956)

In [30]:
import scipy.stats as st
confidence = 0.9999
st.t.interval(confidence, len(games)-1, loc=games['Other_Sales'].mean(), scale=st.sem(games['Other_Sales']))

(0.04236651636097659, 0.05375952292085044)

I see the impact. The higher the confidence, the wider the range gets because it wants to be more sure for plausible values

#  First 10 rows confidence.

In [38]:
import scipy.stats as st
confidence = 0.90
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Global_Sales'].mean(), scale=st.sem(first_10['Global_Sales']))

(27.364202156485334, 46.513797843514666)

In [39]:
import scipy.stats as st
confidence = 0.95
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Global_Sales'].mean(), scale=st.sem(first_10['Global_Sales']))

(25.12319905414726, 48.754800945852736)

In [40]:
import scipy.stats as st
confidence = 0.99
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Global_Sales'].mean(), scale=st.sem(first_10['Global_Sales']))

(19.964312950265935, 53.913687049734065)

In [41]:
import scipy.stats as st
confidence = 0.9999
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Global_Sales'].mean(), scale=st.sem(first_10['Global_Sales']))

(2.4985808224728316, 71.37941917752717)

In [45]:
games[:10]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [34]:
import scipy.stats as st
confidence = 0.90
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Other_Sales'].mean(), scale=st.sem(first_10['Other_Sales']))

(1.193122483273746, 3.918877516726253)

In [35]:
import scipy.stats as st
confidence = 0.95
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Other_Sales'].mean(), scale=st.sem(first_10['Other_Sales']))

(0.874137916392361, 4.237862083607638)

In [36]:
import scipy.stats as st
confidence = 0.99
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Other_Sales'].mean(), scale=st.sem(first_10['Other_Sales']))

(0.13982164180974443, 4.972178358190255)

In [37]:
import scipy.stats as st
confidence = 0.9999
first_10 = games[:10]
st.t.interval(confidence, len(first_10)-1, loc=first_10['Other_Sales'].mean(), scale=st.sem(first_10['Other_Sales']))

(-2.3462521133928926, 7.458252113392891)

I see the impact of having less data. When you have large different data sizes, the range will change alot because it has less values to deal with.