In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv', sep=',')

In [4]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [5]:
year = 'Period'
sex = 'Dim1'

In [6]:
filterOnyear = lifeExpectancy[year] == 2019
filterOnBothSexes = lifeExpectancy[sex] == 'Both sexes'

In [7]:
FilteredTable = lifeExpectancy[(filterOnyear) & (filterOnBothSexes)]

In [8]:
FilteredTable.sort_values('First Tooltip', ascending=False).head(5)

,Location,Period,Indicator,Dim1,First Tooltip
997,Japan,2019,Life expectancy at birth (years),Both sexes,84.26
1897,Switzerland,2019,Life expectancy at birth (years),Both sexes,83.45
1573,Republic of Korea,2019,Life expectancy at birth (years),Both sexes,83.30
1837,Spain,2019,Life expectancy at birth (years),Both sexes,83.22
1753,Singapore,2019,Life expectancy at birth (years),Both sexes,83.22

In [9]:
FilteredTable.sort_values('First Tooltip', ascending=True).head(5)

,Location,Period,Indicator,Dim1,First Tooltip
1117,Lesotho,2019,Life expectancy at birth (years),Both sexes,50.75
373,Central African Republic,2019,Life expectancy at birth (years),Both sexes,53.10
1801,Somalia,2019,Life expectancy at birth (years),Both sexes,56.47
661,Eswatini,2019,Life expectancy at birth (years),Both sexes,57.73
1333,Mozambique,2019,Life expectancy at birth (years),Both sexes,58.14